h1 {
    font-family: 'Courgette', cursive;
}

.page-container,
#sketchboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    flex-direction: column;
}

#sketchboard {
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    align-content: flex-start;
    padding: 0px;
    box-sizing: border-box;
}

.pixel {
    border: 1px solid #CCCCCC;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}