h1 {
    font-family: 'Courgette', cursive;
}

input,
p {
    margin: 0px;
    padding: 0px;
}

button {
    width: 130px;
    height: 30px;
    box-sizing: border-box;
}

.description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 670px;
    margin-bottom: 50px;
}

.random-color-button_clicked,
.rainbow-button_clicked,
.erase-pixel-button_clicked {
    background-color: #292221;
    color: white;
}

.page-container,
.sketch,
.show-grid-checkbox,
#sketchboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    flex-direction: column;
}

.sketch {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
}

.show-grid-checkbox {
    gap: 5px;
}

#sketch-controls {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

#sketchboard {
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    align-content: flex-start;
    padding: 0px;
    border: 1px solid #CCCCCC;
}

.pixel {
    border: 1px solid #CCCCCC;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.pixel_nogrid {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}